.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.vscode/
.idea/
.env
.env.local
models/extra_encoder.pkl
models/grade_encoder.pkl
models/parent_encoder.pkl
models/student_model.pkl
models/emotion_model.h5
.DS_Store
Thumbs.db
.ipynb_checkpoints/

